{% extends "layout.html" %}
{% block content %}
    <h2>Ask CS a question</h2>
    <!--<img src="{{ picture }}" width=25px height=25px referrerpolicy="no-referrer">
	    {{ name }} &lt;{{ email }}&gt;-->
    <form action="{{ url_for('query') }}" method=post>
	    <textarea rows=5 cols=50 name=message></textarea></p>
	    <p><input type=submit value=Query></p>
    </form>
    {% if question and answer %}
    <h2>Question:</h2>
    {{ question }}
    <h2>Answer:</h2>
    {{ answer }}
    {% endif %}

{% endblock %}
